<ds-card-container>
  <ds-card-header>
    <h1 ds-typography class="heading md-heading-large">
      Continue last quiz session
    </h1>
  </ds-card-header>
  <ds-card-supporting-text>
    <p ds-typography class="content md-content-large">
      You have already started the quiz. Would you like to continue?
    </p>
  </ds-card-supporting-text>
  <ds-card-action>
    <ds-button variant="secondary" display="block" (click)="onClick()">
      Continue
    </ds-button>
  </ds-card-action>
</ds-card-container>
